<form
	layout="column"
	flex
	style="background: #fff; margin: 30px 120px;"
	class="md-whiteframe-z2"
	layout-padding
	ng-submit="methods.submit()"
>

	<md-subheader class="md-primary">Datos del Distrito</md-subheader>
	<md-input-container>
		<label>Nombre</label>
		<input ng-model="models.district.name" required>
    </md-input-container>

    <div style="width: calc( 100% - 40px); margin-left: 20px; height: 100px; background: #ccc;">(Puntos en mapa)</div>

    <md-button style="margin-top: 30px;" class="md-raised md-primary">Crear</md-button>

</form>