<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
</md-sidenav>

<md-content layout="column" flex>

	<md-toolbar layout="row">
		
		<md-button
			class="md-icon-button"
			ng-click="methods.toggleSideNav()"
			style="margin: 0px 10px 0px 10px;"
			aria-label="Settings"
		>
			<md-icon md-svg-icon="res/menu.svg"></md-icon>
		</md-button>

		<h1 class="md-toolbar-tools">
			<span>App</span>
		</h1>
	</md-toolbar>

	<md-content style="background:#eee;" flex layout create-incident>

	

	</md-content>

</md-content>