<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
</md-sidenav>

<md-content layout="column" flex>

	<md-toolbar>
		<h1 class="md-toolbar-tools">
			<span>Distritos</span>
		</h1>
	</md-toolbar>

	<div layout flex>
		
		<md-sidenav
			class="md-sidenav-left md-whiteframe-z2"
			md-component-id="left"
			md-is-locked-open="$mdMedia('gt-sm')"
			layout="column"
		>
			<md-subheader class="md-primary">Opciones</md-subheader>
			<md-button ui-sref="create">Crear distrito</md-button>
			<md-button ui-sref="list">Listar distritos</md-button>
		</md-sidenav>
		
		<md-content style="background:#eee;" flex layout ui-view></md-content>

	</div>


</md-content>