doctype html
html(lang='es', ng-app="app")

	head
		meta(charset='UTF-8')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1')
		title= title
		link(rel='stylesheet', href="/components/angular-material/angular-material.min.css")
		link(rel='stylesheet', href='/css/material-angular-layout.css')
		if ENV_DEVELOPMENT
			script(src='http://localhost:35729/livereload.js')
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true")
		script(src="/components/angular/angular.min.js")
		script(src="/components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="/components/angular-animate/angular-animate.min.js")
		script(src="/components/angular-aria/angular-aria.min.js")
		script(src="/components/angular-material/angular-material.min.js")
		each s in scripts
			script(src=s)
		script districtId = !{districtId}

	body(layout)
		app-container(layout="row" flex)
