<div layout="column" flex>
	<gmaps flex="60" style="background: #333;"></gmaps>
	<form flex layout="column" layout-align="center center" ng-submit="submit()">
		<md-select placeholder="Tipo" ng-model="someVal">
			<md-option value="1">Incendio</md-option>
			<md-option value="2">Conflicto</md-option>
			<md-option value="2">Otros</md-option>
		</md-select>
		<md-input-container>
			<label>Detalles</label>
			<input ng-model="models.details">
		</md-input-container>
		<md-button class="md-raised md-primary">Enviar</md-button>
	</form>
</div>